* {
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(16, 16, 52);
}

.card{
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    background-color: rgb(236, 16, 52);
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}

.card::before {
    content: "0";
    width: 50%;
    height: 100%;
    background: linear-gradient(to right , #d16ba5 , #c777b9 , #ba83ca , #aa8fd8 , #9a9ae1 , #8aa7ec);
    position: absolute;
    left: 0;
    top: 0;
    font-size: 100px;
    display: flex;
    color: white;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.5s;
}

.card::after {
    content: "1";
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #8aa7ec , #79b3f4 , #69bff8 , #52cffe , #41dfff , #46eefa , #5ffbf1);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    display: flex;
    color: white;
    align-items: center;
    transition: all 0.5s;
}

.card:hover::before {
    transform: translateX(-100%);
}

.card:hover::after {
    transform: translateX(100%);
}